{% extends "AppBundle:Licencia:layout.html.twig" %}

{% block description_metatag %}
    Obtener o renovar todos los permisos de conducir. Información sobre licencias de automóviles, motocicletas, remolques, servicio público y servicio urgente.
{% endblock %}

{% block keywords_metatag %}
    Obtener, renovar, permiso, licencia, carnet, conducir, automóvil, turismo, motocicleta, ciclomotor, remolque, servicio, público, urgente, transporte escolar, Santutxu, Bilbao
{% endblock %}

{% block title_preffix %}Carnet de conducir{% endblock %}

{% block inner_content %}
    <div class="overflow">
        <h1>Obtención y renovación del Carnet de Conducir</h1>

        <p class="margin-top"><a href="{{ path('pedir_cita', {'licencias_permisos': 'conducir'}) }}" class="btn btn-s btn-success" role="button">Pedir cita</a> para obtener o renovar el Permiso de Conducir.</p>

    </div>


    <div class="overflow">
        <div class="col-md-6">
            <h2>Documentación necesaria para obtener su Licencia o Permiso de Conducir</h2>

            <ul>
                <li>D.N. I. o tarjeta de residencia en vigor. </li>
                <li>La fotografía la hacemos gratis en las oficinas de {{ scor_psico }}. </li>
                <li>También nos encargamos de la tramitación por vía telemática de forma gratuita. </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Documentación necesaria para renovar su Licencia o Permiso de Conducir</h2>

            <ul>
                <li>Permiso de conducir. </li>
                <li>La fotografía la hacemos gratis en nuestras oficinas. </li>
                <li>También nos encargamos de la tramitación por vía telemática de forma gratuita. Por lo que usted no tendrá que ir a tráfico ni realizar ningún trámite adicional. </li>
            </ul>

            <p>En pocos días recibirá su nuevo carnet de conducir (tarjeta de plástico) en su domicilio por correo ordinario.</p>

            <p>También puede renovar su carnet de conducir hasta tres meses antes de su caducidad, sin que esto supongo una merma en la fecha de renovación, y de esta manera poder renovarlo con más comodidad de tiempo.</p>
        </div>
    </div>

    <div class="overflow">
        <h2>Acerca de la gestión de Permisos de Conducir en {{ scor_psico }}</h2>

        <p>Ya no es necesario desplazarse a Tráfico (la DGT ya no entrega los permisos de conducir) quedando su permiso renovado en el acto y, además, de forma gratuita ya que somos una terminal informática de la DGT (solamente pagará la tasa de tráfico correspondiente). </p>

        <p>En el momento de la tramitación se entrega de forma inmediata un documento de la DGT para circular legalmente y de forma provisional por un plazo de 3 meses, llegando al poco tiempo su permiso de conducir por correo ordinario a su domicilio. </p>
    </div>

    <hr />

    <div class="overflow">
        <h2>Más información acerca del permiso de Conducir</h2>

        <p>Dado el Reglamento General de Conductores aprobado en el Real Decreto 818/2009, el permiso de conducción será de las siguientes clases:</p>

        <ul>
            <li>El permiso de conducción <strong>AM</strong> autoriza para conducir ciclomotores de dos o tres ruedas y cuadriciclos ligeros. La edad mínima para obtenerlo será de quince años cumplidos. No obstante, hasta los dieciocho años cumplidos no se autorizará a conducir los correspondientes vehículos cuando transporten pasajeros. </li>
            <li>El permiso de conducción de clase <strong>A1</strong>, autoriza para conducir motocicletas con una cilindrada máxima de 125 cm3, una potencia máxima de 11kW y una relación potencia/peso de 0,1 kW/kg y triciclos de motor cuya potencia máxima no exceda de 15 k/w. La edad mínima para obtenerlo será de dieciséis años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>A2</strong> autoriza para conducir motocicletas con una potencia máxima de 35 kW y una relación de potencia/peso máxima de 0,2 k/w. La edad mínima para obtenerlo será de dieciocho años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>A</strong> autoriza para conducir motocicletas y triciclos de motor. La edad mínima para obtenerlo será de veinte años cumplidos pero hasta los veintiún años cumplidos no autorizará a conducir triciclos de motor cuya potencia máxima exceda de 15k/W. </li>
            <li>El permiso de conducción de la clase <strong>B</strong> autoriza para conducir los siguientes vehículos:
                <ul>
                    <li>Automóviles cuya masa máxima autorizada no exceda de 3.500 kg y que no excedan de más de ocho pasajeros incluido el conductor. Dichos automóviles podrán llevar enganchado un remolque cuya masa máxima autorizada no exceda de 750 kg. También vehículos de la clase B y un remolque que exceda de 750 kg y cuya masa total no exceda de 4.250 kg. </li>
                    <li>La edad mínima para obtenerlo será de dieciocho años cumplidos. </li>
                </ul>
            </li>
            <li>El permiso de conducción de la clase <strong>B.T.P</strong>, autoriza para conducir vehículos en servicio urgente, transporte escolar y vehículos destinados al servicio publico de viajeros, con la masa autorizada no superior de 3.500 kg, y cuyo número de asientos, incluido el conductor, no exceda de nueve personas. </li>
            <li>El permiso de conducción de la clase <strong>B + E</strong>, autoriza para conducir conjuntos de vehículos acoplados compuestos por un vehículo tractor de los que autoriza a conducir el permiso clase B, y un remolque o semirremolque cuya masa máxima autorizada no exceda de 3.500 kg. La edad mínima para obtenerlo será de dieciocho años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>C1</strong>, cuya masa máxima autorizada exceda de 3.500 kg y no sobrepase los 7.500 kg, y de no más de ocho pasajeros además del conductor. La edad mínima para obtenerlo será de dieciocho años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>C1+ E</strong>, autoriza para conducir a los siguientes vehículos:
                <ul>
                    <li>Conjunto de vehículos acoplados compuestos por un vehículo tractor que se precise la clase C1 y un remolque o semirremolque cuya masa máxima autorizada exceda de 750 kg, siempre que la masa máxima autorizada del conjunto así formado no exceda de 12.000 kg </li>
                    <li>Conjunto de vehículos acoplados compuestos por un vehículo tractor que se precise la clase C1 y un remolque o semirremolque cuya masa máxima autorizada exceda de 3.500 kg, siempre que la masa máxima autorizada del conjunto así formado no exceda de 12.000 kg </li>
                    <li>La edad mínima para obtenerlo será de dieciocho años cumplidos. </li>
                </ul>
            </li>
            <li>El permiso de conducir de la clase <strong>C</strong> autoriza a conducir una masa que exceda de 3.500 kg y no más de ocho personas además del conductor. Pueden llevar un remolque que no exceda los 750 kg. La edad mínima para obtenerlo será de veintiún años. </li>
            <li>El permiso de conducción de la clase <strong>C+ E</strong>, autoriza el permiso de la clase C y un remolque que exceda de 750 kg. La edad mínima para obtenerlo será de veintiún años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>D1</strong>, autoriza para conducir automóviles para el transporte de no más de dieciséis pasajeros además del conductor y cuya longitud no exceda de ocho metros. También podrán llevar un remolque que no exceda de 750 kg. La edad mínima para obtenerlo será de veintiún años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>D1 + E</strong>, autoriza para conducir conjuntos acoplados para conducir el permiso de la clase D1 y un remolque que exceda de 750 kg. La edad mínima para obtenerlo será de veintiún años cumplidos. </li>
            <li>El permiso de conducción de la clase <strong>D</strong>, autoriza para conducir automóviles para el transporte de más de ocho pasajeros además del conductor. Y podrán llevar enganchado un remolque que no exceda de 750 kg. La edad mínima para obtenerlo será de veinticuatro años. </li>
            <li>El permiso de conducción <strong>D + E</strong>, autoriza para conducir conjuntos acoplados a conducir de la clase D y un remolque que exceda de 750 kg. La edad mínima para obtenerlo será de veinticuatro años cumplidos. </li>
        </ul>
        <h2>Condiciones de expedición de los permisos de conducir</h2>

        <ul>
            <li>La obtención de la clase A solo se podrá expedirse a conductores que ya sean titulares de un carnet en vigor del a clase A2 con, al menos, dos años de antigüedad. </li>
            <li>El permiso de las clases C1, C, D1 y D, solo podrá expedirse a conductores que ya poseen el permiso en vigor de la clase B. </li>
            <li>El permiso de las clases BTP y B+ E, C1 +E, D1 +E y D+ E solo podrá expedirse a conductores que ya poseen la titularidad de las clases B, C1, C, D1 o D, respectivamente. </li>
            <li>La obtención de los permisos de conducción que a continuación se indican implicara la concesión de los siguientes:
                <ul>
                    <li>La del permiso de la clase A1, implica la concesión de la clase AM. </li>
                    <li>La del permiso de la clase A2, implica la concesión del de la clase A1. </li>
                    <li>La del permiso de la clase C y D implica la concesión del de las clases C1 y D1, respectivamente. </li>
                    <li>La del permiso C1 + E, C+ E, D1 + E o D + E implica la concesión del de la clase B + E. </li>
                    <li>La del permiso de la clase C+E implica la concesión del de la clase C1 + E. </li>
                    <li>La del permiso de la clase C+E implica la concesión del de la clase D1 + E cuando su titular posea el de la clase D. </li>
                    <li>La del permiso de las clases C1 y D1 implica la concesión del de la clase B.T.P. </li>
                    <li>La del permiso de la clase D+ E implica la concesión del de la clase D1 + E. </li>

                </ul>
            </li>
        </ul>

        <h2>Renovación de los carnets de conducir</h2>

        <h3>Tiempos de vigencia de los permisos de conducir</h3>

        <ul>
            <li>AM, A1, A2, A y B (hasta los 65 años) Renovación hasta 10 años. </li>
            <li>AM, A1, A2, A y B (mayores de 65 años) Renovación hasta cinco años. </li>
            <li>B.T.P., C1, C2, D y superiores (hasta los 65 años) Renovación hasta cinco años. </li>
            <li>B.T.P., C1, C2, D y superiores (mayores de 65 años) Renovación hasta tres años. </li>
        </ul>

        <p>El periodo de vigencia de los diferentes tipos de permisos de conducir señalados en el párrafo anterior podrán reducirse si, en el momento de la obtención o renovación (prorroga) de su vigencia, se verifica que el titular del carnet padece enfermedad o deficiencia, de acuerdo a la legislación vigente (BOE No 220/2010).</p>

        <p class="margin-top"><a href="{{ path('pedir_cita', {'licencias_permisos': 'conducir'}) }}" class="btn btn-s btn-success" role="button">Pedir cita</a> para obtener o renovar el Permiso de Conducir.</p>
    </div>

{% endblock %}
