/.idea
/.mage

/app/bootstrap.php.cache
/web/bundles/
/web/uploads/
/web/compiled/
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/sessions/*
/build/
/vendor/
/bin/
/web/css/*
/web/js/*
/phpunit-coverage/
/composer.phar
*.*~
