{% extends "AppBundle::layout.html.twig" %}

{% block description_metatag %}
    Desactivación de recordatorios de renovación para clientes inscritos en el avisador de caducidad de {{ scor_psico }}
{% endblock %}

{% block keywords_metatag %}
    desactivar, recordatorio, alerta, renovación, licencia, permiso, carnet, email, alerta
{% endblock %}

{% block canonical_url %}
    {# No ponemos nada, tan solo evitamos que aparezca la etiqueta #}
{% endblock %}

{% block title %}Desactivar recordatorio de renovación{% endblock %}

{% block content %}

    <p>Volver al <a href="{{ path('homepage') }}" class="btn btn-xs btn-success" role="button">Inicio.</a> Si desea hacer una consulta o informar de un error puede dirigirse a nuestra sección de <a href="{{ path('contacto') }}" class="btn btn-xs btn-success" role="button">Contacto</a></p>

{% endblock %}
