<div id="footer">
    <div class="container">
        <p class="">&copy; {{ scor_psico }} {{ "now"|date('Y') }} | Sitio web creado, diseñado, desarrollado y mantenido por Dani Sancas.</p>
    </div>
</div>