<div id="footer">
    <div class="container">
        <p>&copy; {{ scor_psico }} {{ "now"|date('Y') }} | Sitio web creado, diseñado, desarrollado y mantenido por Dani Sancas. <br />
            <a href="{{ path('sitemap') }}" title="Mapa del sitio web">Sitemap</a> | <a href="{{ path('terminos_condiciones') }}" title="Términos y condiciones de uso">Términos y condiciones de uso</a> </p>
    </div>
</div>
