{% extends "FrontendBundle:Licencia:layout.html.twig" %}

{% block description_metatag %}
    {# TODO #}
{% endblock %}

{% block keywords_metatag %}
    {# TODO #}
{% endblock %}

{% block title_preffix %}Permiso de armas{% endblock %}

{% block inner_content %}
    <h1>Permiso de armas</h1>
{% endblock %}
