{% extends "FrontendBundle:Licencia:layout.html.twig" %}

{% block description_metatag %}
    {# TODO #}
{% endblock %}

{% block keywords_metatag %}
    {# TODO #}
{% endblock %}

{% block title_preffix %}Carnet de conducir{% endblock %}

{% block inner_content %}
    <h1>Carnet de conducir</h1>

    <p></p>
{% endblock %}
