{% extends "FrontendBundle:Licencia:layout.html.twig" %}

{% block title_preffix %}Carnet de conducir{% endblock %}

{% block inner_content %}
    <h1>Carnet de conducir</h1>

    <p></p>
{% endblock %}
