{% extends "FrontendBundle:Licencia:layout.html.twig" %}

{% block description_metatag %}
    Obtención y renovación de licencias y permisos para seguridad privada. Permisos para vigilantes de seguridad y guardias particulares de campo.
{% endblock %}

{% block keywords_metatag %}
    Obtener, renovar, permiso, licencia, seguridad privada, vigilantes, guardias, armas, prestación, servicios, reglamento, Santutxu, Bilbao
{% endblock %}

{% block title_preffix %}Seguridad privada{% endblock %}

{% block inner_content %}
    <div class="overflow">
        <h1>Licencia de Seguridad privada</h1>

        <p class="margin-top"><a href="{{ path('pedir_cita', {'licencias_permisos': 'seguridad'}) }}" class="btn btn-s btn-success" role="button">Pedir cita</a> para obtener o renovar la licencia de Seguridad Privada.</p>

    </div>

    <div class="overflow">
        <div class="container-half float-left">
            <h2>Documentación necesaria</h2>

            <ul>
                <li>Obtención:
                    <ul>
                        <li>Únicamente el D.N.I. o Tarjeta de Residencia en vigor. </li>
                    </ul>
                </li>
                <li>Renovación:
                    <ul>
                        <li>D.N.I. y permiso de prestación de servicios de seguridad privada. </li>
                    </ul>
                </li>
                <li>Todos los impresos que necesitan para renovar el permiso de armas se los facilitamos en las oficinas de {{ scor_psico }}, sin coste alguno. </li>
                <li>La fotografía la hacemos gratis en nuestras oficinas. </li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="overflow">
        <h2>Más información acerca de la licencia de Seguridad privada</h2>
        <p>De conformidad con lo dispuesto en el artículo 98 del Reglamento de armas, aprobado por Real Decreto 137/1993 y con arreglo a lo dispuesto en los artículos 53 y 85 concordantes del Reglamento de Seguridad Privada, aprobado por Real Decreto 2364/1994 de 9 de Diciembre, deberán someterse a reconocimiento médico y psicotécnico las personas que deseen su habilitación, obtención o renovación para los siguientes puestos:</p>
        <ul>
            <li>Vigilantes de seguridad. </li>
            <li>Guardias particulares de campo. </li>
        </ul>
    </div>
{% endblock %}
