{% extends "FrontendBundle:Licencia:layout.html.twig" %}

{% block description_metatag %}
    {# TODO #}
{% endblock %}

{% block keywords_metatag %}
    {# TODO #}
{% endblock %}

{% block title_preffix %}Seguridad privada{% endblock %}

{% block inner_content %}
    <h1>Seguridad privada</h1>
{% endblock %}
